<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Объявление</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<!--<th:block th:replace="navbar"></th:block>-->

<h2 th:text="${oneAdvertisementRent.title}"></h2>

<h4 th:text="${oneAdvertisementRent.description}"></h4>

<h3 th:text="${oneAdvertisementRent.price}"></h3>


<form th:method="GET" th:action="@{/realty/advertisementRent/{id}/edit(id=${oneAdvertisementRent.getId()})}">
    <input type="submit" value="Редактировать объявление">
</form>

<form th:method="POST" th:action="@{/realty/advertisementRent/{id}(id=${oneAdvertisementRent.getId()})}">
    <input type="hidden" name="_method" value="DELETE" >
    <input type="submit" value="Удалить объявление"/>
</form>

<div>
    <form th:method="GET" th:action="@{/realty}">
        <input type="submit" value="Вернуться на главную"/>
    </form>
</div>


</body>
</html>