
body {
    background-color: #e6f7fa;
}










/*!* Фоновое изображение для всей страницы *!
body {
    background-image: url("background_alliance.jpg"); !* Относительный путь к изображению *!
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
}

!* Стили для логотипа *!
.navbar-brand img {
    margin-right: 10px;
    border-radius: 5px; !* Например, сделать углы логотипа слегка округлыми *!
}

!* Общие стили остаются *!
.nav-link.active {
    background-color: rgb(254, 255, 255);
    border-radius: 5px;
}


!* Стиль для названия "Альянс" *!
.navbar-brand {
    color: darkblue !important;
    font-weight: bold;
}

!* Активная вкладка подсвечивается голубым *!
.nav-link.active {
    background-color: #6d8bd5;
    border-radius: 5px;
}

!* Общий стиль для вкладок *!
.nav-link {
    color: black !important;
}

!* При наведении мыши на вкладки *!
.nav-link:hover {
    color: darkblue !important;
}

!* Центрирование и отступы *!
.container {
    max-width: 1200px; !* Ограничение ширины *!
    margin: 0 auto; !* Центрирование *!
    padding: 0 15px; !* Отступы от краёв *!
}

!* Стиль заголовков *!
h1, h2 {
    color: #333;
    font-weight: bold;
}

!* Кнопки навигации *!
.nav-link {
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}
.nav-link:hover {
    background-color: #ffffff;
    color: #6d8bd5 !important;
    border-radius: 5px;
}

!* Карточки *!
.card {
    border-radius: 10px;
    overflow: hidden;
    text-align: center; !* Центрируем текст внутри карточек *!
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}*/

